body {
    background: #141414;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.app {
    background: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    width: 320px;
    text-align: center;
}

input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 8px 15px;
    background: crimson;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: darkred;
}

img {
    width: 150px;
    margin-top: 10px;
    border-radius: 5px;
}
